@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.cdnfonts.com/css/elza-trial'); */


@font-face {
  font-family: 'Elza Trial';
  font-style: normal;
  font-weight: 500;
  src: local('Elza Trial Condensed Medium'), url('ElzaTrial-CondMedium.woff') format('woff');
}

@font-face {
  font-family: 'Elza Trial';
  font-style: normal;
  font-weight: 800;
  src: local('Elza Trial Condensed Semibold'), url('ElzaTrial-CondSemibold.woff') format('woff');
}

@font-face {
  font-family: 'Elza Trial';
  font-style: normal;
  font-weight: 700;
  src: local('Elza Trial Condensed Bold'), url('ElzaTrial-CondBold.woff') format('woff');
}


@font-face {
  font-family: 'Elza Trial';
  font-style: normal;
  font-weight: 900;
  src: local('Elza Trial Condensed Black'), url('ElzaTrial-CondBlack.woff') format('woff');
}

html {
  font-family: 'Elza Trial', sans-serif;
  color: white;
}